<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="honyaku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <honyaku.Properties.Settings>
            <setting name="CaptureRegionMargin" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CaptureRegionColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="CaptureRegionVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SourceLanguage" serializeAs="String">
                <value>english</value>
            </setting>
            <setting name="TargetLanguage" serializeAs="String">
                <value>japanese</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value>Ctrl+Alt+A</value>
            </setting>
            <setting name="ReturnFocus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResultFont" serializeAs="String">
                <value>ＭＳ ゴシック, 12pt</value>
            </setting>
            <setting name="BackPlace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackPlaceLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BackPlaceSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </honyaku.Properties.Settings>
    </userSettings>
</configuration>