<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="honyaku.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <honyaku.Properties.Settings>
            <setting name="capture_region_margin" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="capture_region_color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="capture_region_visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="source_language" serializeAs="String">
                <value />
            </setting>
            <setting name="target_language" serializeAs="String">
                <value />
            </setting>
            <setting name="hot_key" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="return_focus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="capture_save" serializeAs="String">
                <value>False</value>
            </setting>
        </honyaku.Properties.Settings>
    </userSettings>
</configuration>